<div id="myModal" class="modal fade row" role="dialog">
	<div class="col-lg-12">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add Question</h4>
				</div>
                <input type="hidden" id="survey_id_details" value="<%= @survey.id%>"/>
                <a href="javascript:void(0);"" onclick="toggleContainer();" class="pop_up_link_txt">Drag and Drop Question</a> / <a href="javascript:void(0);"" onclick="toggleContainer();">Type & Add Question</a>
                
                <div class= "dragDropQuestion" style="display:none;">
                    <div class="popupContainer" >
                        <div class="draggable-container">
                        <% questions.each do |question|%>
                          <p class="draggable" id="<%= question.id%>"><%= question.question_content%></p>
                          <br/>
                        <% end %>
                        </div>
                        <div class="dropzone-container">
                            <% survey.questions.each do |question|%>
                                <p id="<%= question.id%>"><%= question.question_content%></p>
                            <br/>
                            <% end %>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-theme02 close-popup" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="questionForm">
    				<div class="modal-body">
    					<%= form_for([survey, question], :html => {class: 'form-horizontal style-form question_creation_from', remote: true}) do |f| %>
    						<%= render 'shared/question_fields', f: f %>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-theme02 close-popup" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-theme02" value="Submit"></button>
                            </div>
                        <% end %>
    				</div>
                </div>
			</div>
		</div>
	</div>
</div>