<div id="login-page">
    <div class="container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {class: 'form-login'}) do |f| %>
          <h2 class="form-login-heading">signup now</h2>
          <div class="login-wrap">
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email Address", required: true %>
            <br/>
            <%= f.password_field :password, autocomplete: "off", :id => "form-last-name", :class => "form-control", :placeholder => "Password...", required: true %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", :id => "form-last-name", :class => "form-control", :placeholder => "Confirm Password...", required: true %>
            <br/>
            <button class="btn btn-theme btn-block" href="#" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
            <hr>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
    </div>
</div>