<div class="form-group">
    <div class="col-lg-8">
        <label class="col-sm-2 col-sm-2 control-label">Question No:</label>
        <div class="col-sm-10">
          <%= f.number_field :question_no, class:"form-control"%>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-8">
        <label class="col-sm-2 col-sm-2 control-label">Question Type:</label>
        <div class="col-sm-10">
          <%= f.select :question_type_id, options_from_collection_for_select(@question_types, :id, :name), prompt: "select a question type", class:"form-control question_type_id", onchange: "checkOption(this);"%>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-8">
        <label class="col-sm-2 col-sm-2 control-label">Question:</label>
        <div class="col-sm-10">
          <%= f.cktext_area :question_content,size: "60x12", class:"form-control"%>
        </div>
    </div>
</div>

<%= f.fields_for :options do |builder| %>
	<%= render 'shared/option_fields', f: builder %>
<% end %>

<div class="form-group questionOption">
	<div class="col-lg-8">
		<%#= link_to_add_fields "Add Option", f, :options, 'form-control' %>
		<!-- <a href="javascript:void(0)" onclick="AddOption(this);">Add Option</a> -->
		<%= link_to_add_fields "Add Option", f, :options, 'form-control' %>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-8">
		<%#= link_to_remove_fields "Delete Question", f, 'form-control' %>
	</div>
</div>

<script type="text/javascript">
	function checkOption(e){
		var selected = $(e).find(':selected').text();
		if ((selected == "Text") | (selected == "TextArea")){
			$('.questionOption').toggle();
		}
	}
</script>