<div class="row questionDetails">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
            	<% @survey.questions.each do |question|%>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12"><label class="italic"><strong>Question no <%= "#{question.question_no}" %></strong></label></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="italic"><strong><%= question.question_content.html_safe rescue nil %></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <section class="task-panel tasks-widget">
                                    <div class="panel-heading">
                                        <div class="pull-left"><h5><i class="fa fa-tasks"></i>Answer</h5></div>
                                        <br>
                                    </div>
                                    <div class="panel-body">
                                        <div class="task-content">
                                            <ul class="task-list">
                                                <% if question.question_type.name.eql?("Text") %>
                                                <li>
                                                	<%= text_field_tag "question[#{question.id}]", @answers.find_by_question_id(question.id).answer, disabled: true%>
                                                </li>
                                                <% elsif question.question_type.name.eql?("TextArea")%>
                                                <li>
                                                	<%= text_area_tag "question[#{question.id}]", @answers.find_by_question_id(question.id).answer, disabled: true%>
                                                </li>
                                                <% elsif question.question_type.name.eql?("Single Choice")%>
                                                <% question.options.each do |option|%>
													<li><%= radio_button_tag "question[#{question.id}]", option.id, checked: (@answers.find_by_question_id(question.id).answer == option.id)%> <%= option.option_content%></li>
												<%end%>
                                                <% elsif question.question_type.name.eql?("Multiple Choice")%>
                                                    <% answer = @answers.find_by_question_id(question.id).answer.split(",") %>
	                                                <% question.options.each do |option|%>
														<li><%= check_box_tag "question[#{question.id}][]", option.id, checked: (answer.include?(option.id))%> <%= option.option_content%></li>
													<%end%>
                                                <% elsif question.question_type.name.eql?("Listing")%>
                                                	<li><%= select_tag "question[#{question.id}]", options_from_collection_for_select(question.options, :id, :option_content, selected: @answers.find_by_question_id(question.id).answer),prompt: "Select any one"%></li>
                                              <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>