<% survey.questions.each do |question|%>
<div class="row questionDetails">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-2 pull-right">
                            <a class="btn btn-info" href="<%= edit_survey_question_path(survey, question) %>">Edit Question</a>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <%= link_to "Delete Question", survey_question_path(survey, question), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class:"btn btn-info" %>
                        </div>
                        <div class="row">
                            <div class="col-lg-12"><label class="italic"><strong>Question no <%= "#{question.question_no}" %></strong></label></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="italic"><strong><%= question.question_content.html_safe rescue nil %></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <section class="task-panel tasks-widget">
                                    <div class="panel-heading">
                                        <div class="pull-left"><h5><i class="fa fa-tasks"></i>Options</h5></div>
                                        <br>
                                    </div>
                                    <div class="panel-body">
                                        <div class="task-content">
                                            <ul class="task-list">
                                                <% unless question.is_subjective? %>
                                                    <% question.options.each do |option| %>
                                                        <li>
                                                            <div class="task-title">
                                                                <span class="task-title-sp"><%= "#{option.option_content}".html_safe rescue nil %></span>
                                                            </div>
                                                        </li>
                                                    <% end %>
                                              <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>