<li class="mt">
    <a class="<%= controller_name == 'home' ? 'active' : '' %>" href="<%= root_path %>"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
</li>
<li class="mt">
  <a class="<%= controller_name == 'surveys' ? 'active' : '' %>" href="<%= surveys_path %>" ><i class="fa fa-hdd-o"></i><span>View Created Surveys</span></a>
</li>
<li class="mt">
  <a class="<%= controller_name == 'registrations' ? 'active' : '' %>" href="<%= edit_registration_path(current_user) %>"><i class="fa fa-desktop"></i><span>View Profile</span></a>
</li>